# Sample Exam: Coffee Shops

Java June is a company that owns coffee shops in a number of locations in Europe.

The company knows that stores with more reviews typically get more new customers. This is
because new customers consider the number of reviews when picking between two shops.

They want to get more insight into what leads to more reviews.

They are also interested in whether there is a link between the number of reviews and rating.

They want a report to answer these questions.

# Task 1

Before you start your analysis, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "coffee.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| Region    | Nominal. </br> Where the store is located. One of 10 possible regions (A to J).</br> Missing values should be replaced with “Unknown”.|
| Place name | Nominal. </br>The name of the store. </br>Missing values should be replaced with “Unknown”.|
| Place type  | Nominal. </br>The type of coffee shop. One of “Coffee shop”, “Cafe”, “Espresso bar”, and “Others”. </br>Missing values should be replaced with “Unknown”. |
| Rating   | Ordinal. </br>Average rating of the store from reviews. On a 5 point scale. </br>Missing values should be replaced with 0. |
| Reviews  | Nominal. </br>The number of reviews given to the store. </br>Missing values should be replaced with the overall median number.|
| Price  | Ordinal. </br>The price range of products in the store. One of '\$', '\$\$' or '\$\$\$'. </br>Missing values should be replaced with ”Unknown”.|
| Delivery Option   | Nominal. </br>If delivery is available. Either True or False. </br>Missing values should be replaced with False. |
| Dine in Option | Nominal. </br>If dine in is available. Either True or False. </br>Missing values should be replaced with False. |
| Takeaway Option | Nominal. </br>If take away is available. Either True or False. </br>Missing values should be replaced with False.|

In [11]:
# Use this cell to write your code for task 1
import pandas as pd

#Load data
df = pd.read_csv('coffee.csv')
clean_data = df.copy()

#Replacing the missing values in each column
#Region -replacing missing values with "Unknown"
clean_data['Region'].fillna('Unknown', inplace=True)

#Place name -replacing missing values with "Unknown"
clean_data['Place name'].fillna('Unknown', inplace=True)

#Rating -replacing missing values with "0"
clean_data['Rating'].fillna(0, inplace=True)

#Reviews -replacing missing values with the overall median number
overall_median_number= clean_data['Reviews'].median()
clean_data['Reviews'].fillna(overall_median_number, inplace=True)

#Price -replacing missing values with "Unknown"
clean_data['Price'].fillna('Unknown', inplace=True)

#Delivery Option,Dine in Option and Takeaway Option -replacing missing values with "False"
clean_data[['Delivery option', 'Dine in option', 'Takeaway option']] = clean_data[['Delivery option', 'Dine in option', 'Takeout option']].fillna(False)



#display the cleaned dataframe
clean_data.head()

  Region             Place name  ... Takeout option  Takeaway option
0      C               Dim Kavu  ...            NaN            False
1      C                Коферум  ...           True             True
2      C       Кофейня Світ Чаю  ...           True             True
3      C       Кофейня Starcoff  ...           True             True
4      C  Кофейня "Friend Zone"  ...           True             True

[5 rows x 10 columns]

# Task 2 

The team at Java June believe that the number of reviews changes depending on the rating. 

Producing a table showing the difference in the median number of reviews by rating along with the minimum and maximum number of reviews to investigate this question for the team.

 - You should start with the data in the file 'coffee.csv'.

 - Your output should be a data frame named `reviews_by_rating`. 

 - It should include the three columns `rating`, `med_review`, `min_review`, `max_review`. 

 - Your answers should be rounded to 1 decimal place.

In [17]:
# Use this cell to write your code for task 2
import pandas as pd

df= pd.read_csv('coffee.csv')

#calculate the median, minimum and maximum number of reviews by rating
reviews_by_rating = df.groupby('Rating')['Reviews'].agg(['median','min','max']).reset_index()

reviews_by_rating.rename(columns={'median': 'med_review', 'min': 'min_review', 'max': 'max_review'}, inplace=True)

#round the values to 1 decimal place
reviews_by_rating = reviews_by_rating.round(1)

#display the reviews_by_rating dataframe
reviews_by_rating

    Rating  med_review  min_review  max_review
0      3.9         9.5         9.0        10.0
1      4.0       804.5       170.0      1439.0
2      4.1       452.5       189.0       716.0
3      4.2       497.0       385.0       609.0
4      4.3       221.5         3.0      1656.0
5      4.4       536.0        40.0      1201.0
6      4.5       688.0        27.0      2914.0
7      4.6       693.0        11.0      2931.0
8      4.7       400.0        80.0     17937.0
9      4.8       137.5        10.0      2873.0
10     4.9        40.0        10.0      1820.0
11     5.0        18.0        10.0       440.0